# Project exclude paths
/k-means/target/
k-means/.idea
linear-regression/linear-regression.iml
one-way-anova/one-way-anova.iml
/.idea/
/k-means/.idea/
/one-way-anova/target/
/linear-regression/target/
